<div class="row">
   <div class="col-lg-8">      
      <h1>{{blog.blogheading}}</h1>      
      <p class="lead">
         by <a href="#">{{blog.createdby.username}}</a>
      </p>
      <hr>      
      <p><span class="glyphicon glyphicon-time"></span> Posted on {{blog.dtstamp | date:'medium'}}</p>
      <hr>      
      <p class="lead">{{blog.blogcontent}}</p>
      <hr>   
      <p class="lead">
         Comments
      </p>
      <div class="media" ng-repeat="comments in blog.comments">         
         <div class="media-body">
            <h4 class="media-heading">{{comments.commentby.username}}
               <small>{{comments.dtstamp | date:'medium'}}</small>
            </h4>
            {{comments.comment}}
         </div>
      </div>
      <hr>
      <div class="well">
         <h4>Leave a Comment:</h4>
         <form role="form">
            <div class="form-group">
               <textarea ng-model="blogcomment" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" ng-click="addcomment()" class="btn btn-primary">Comment</button>
         </form>
      </div>
      <hr>
   </div>
</div>