body{padding-top: 60px;}

.pointer{cursor: pointer;}

/*XEditable*/
.editable-input {
 display: inline-block;
}

.editable-input.editable-has-buttons {
 width: auto;
}

.editable-buttons {
 display: inline-block;
 vertical-align: top;
}

.editable-buttons button {
 margin-left: 5px;
}