<div class="row">
   <div class="col-md-8">
      <div ng-repeat="items in blogs">
         <h2>
            <a href="#">{{items.blogheading}}</a>
         </h2>
         <p class="lead">
            by <a href="index.php">{{items.createdby.username}}</a>
         </p>
         <p><span class="glyphicon glyphicon-time"></span> Posted on {{items.dtstamp | date:'medium'}}</p>
         <hr>
         <p>{{items.blogcontent}}</p>
         <a class="btn btn-primary" ng-href="#/Blog/{{items._id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
         <hr>
      </div>
   </div>
   <div class="col-md-4">      
   </div>
</div>