<div class="row">
   <dir class="col-md-6 col-sm-offset-3">
      <div class="alert alert-danger fade in" ng-if="regmessage=='failed'">
         <a class="close pointer" data-dismiss="alert" aria-label="close">&times;</a>
         <strong>{{failedmsg}}</strong>
      </div>
      <form class="form-horizontal" name="formlogin" role="form">
         <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" ng-model="loginobj.username" id="username" placeholder="Enter username">
            </div>
         </div>
         <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10"> 
               <input type="password" class="form-control" ng-model="loginobj.password" id="password" placeholder="Enter password">
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <div class="checkbox">
                  <a href="#/Register">Register</a>
               </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" ng-click="login(formlogin)" class="btn btn-default">Submit</button>
            </div>
         </div>
      </form>
   </dir>
</div>
<txt-editable editable-model="edit.firstname"></txt-editable>
<txt-editable editable-model="edit.mobile"></txt-editable>
